<p>POST ID: <%= @post.id %>

<p>POST TITLE: <%= @post.title %>

<p>POST CONTENT: <%= @post.body %>


<p>ALL COMMENTS:

<% @comments.each do |comment| %>
	
<p><%= comment.content %></p>
	
<% end %>

<p>SUBMIT COMMENT
	
<br>
<%= form_for @comment do |f| %>

	<%= f.label :content %>
	<%= f.text_field :content %>

	<%= f.submit "Submit Comment"%>

<% end %>
