<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application.css.scss", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
	
	<%= render 'navbar' %>
	
	<div class="row">
		<div class="span9">
			<%= yield %>
		</div>
		
		<div class="span3">
			stories
		</div>	
	</div>
</body>
</html>
