<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application.css", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	
</head>

<body>
	
	<%= render 'navbar' %>

	<%= yield %>
		
	<P><%= flash[:signed_in] %>
	<P><%= flash[:error] %>
			
</body>
</html>
